.Container{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
  
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
  gap: 30px;
}

.container-button{
  min-height: 70px;
  display: flex;
  align-items: flex-end;

}
.search-Container{
  margin-bottom: 30px ;
}
.search-Container h1{
  margin-bottom: 30px;
}




